.card{
    /* border: 1px solid black; */
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    text-align:center;
    padding: 10px;
}
.btnDelete{
    /* background-color: red; */
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
  
  }
  .btnUpdate{
    /* background-color: blue; */
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;

  }