body{
  /* background-image: linear-gradient(to right ,#00416A,#E4E5E6); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  margin: 30px auto ;
  /* height: 100vh; */
  width: 60%;
  min-width: 500px;
  border-radius: 10px;
  /* background-color: antiquewhite; */
  background-color: #FFE6F7;

}
@media  screen and (max-width:768px) {
    .container{
      width: 100%;
      margin-top:0;
    }
}






.mr{
  margin: 20px;
}
button{
  cursor: pointer;
  background: linear-gradient(to right, #ef32d9, #89fffd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}